/**common.wxss**/

/*set image to gray model*/

.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

/*button not style*/

.btn-notstyle {
  border: none;
  background: transparent;
}

.btn-notstyle::after {
  border: none;
}

.box-sizing {
  box-sizing: content-box;
}

/*text limit*/

.text-limit {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mul-line {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

// 长单词可换行
.word-wrap {
  word-wrap: break-word;
}

/*opacity value*/

.opacity1 {
  opacity: 0.1;
}

.opacity2 {
  opacity: 0.2;
}

.opacity3 {
  opacity: 0.3;
}

.opacity4 {
  opacity: 0.4;
}

.opacity5 {
  opacity: 0.5;
}

.opacity6 {
  opacity: 0.6;
}

.opacity7 {
  opacity: 0.7;
}

.opacity8 {
  opacity: 0.8;
}

.opacity9 {
  opacity: 0.9;
}

.opacity10 {
  opacity: 1;
}

.text-space2 {
  letter-spacing: 2px;
}

.text-space4 {
  letter-spacing: 4px;
}

/*z-index*/

.z-index0 {
  z-index: 0;
}

.z-index100 {
  z-index: 100;
}

.z-index999 {
  z-index: 999;
}

.z-index1000 {
  z-index: 1000;
}

.z-index1100 {
  z-index: 1100;
}

.z-index1200 {
  z-index: 1200;
}

.z-index1300 {
  z-index: 1300;
}

.z-index1400 {
  z-index: 1400;
}

.z-index1500 {
  z-index: 1500;
}

/*font size*/

.fs8 {
  font-size: 8px;
}

.fs10 {
  font-size: 10px;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

.fs24 {
  font-size: 24px;
}

.fs26 {
  font-size: 26px;
}

.fs28 {
  font-size: 28px;
}

.fs30 {
  font-size: 30px;
}

.fs32 {
  font-size: 32px;
}

.fs34 {
  font-size: 34px;
}

.fs36 {
  font-size: 36px;
}

.fs38 {
  font-size: 38px;
}

.fs40 {
  font-size: 40px;
}

.fs42 {
  font-size: 42px;
}

.fs44 {
  font-size: 44px;
}

.fs46 {
  font-size: 46px;
}

.fs50 {
  font-size: 50px;
}

.fs52 {
  font-size: 52px;
}

.fs56 {
  font-size: 56px;
}

.fs60 {
  font-size: 60px;
}

.fs70 {
  font-size: 70px;
}

.fs80 {
  font-size: 80px;
}

.fs90 {
  font-size: 90px;
}

/*font bold*/

.font-bold {
  font-weight: 550;
}

/*color*/

.bg-808080 {
  background-color: #808080;
}

.bg-ffffff {
  background-color: #ffffff;
}

.bg-f1f1f1 {
  background-color: #f1f1f1;
}

.bg-ffd800 {
  background-color: #ffd800;
}

.bg-f5d001 {
  background-color: #f5d001;
}

.bg-ffc000 {
  background-color: #ffc000;
}

.bg-FFA83F {
  background-color: #ffa83f;
}

.bg-FFCF4F {
  background-color: #ffcf4f;
}

.bg-00d2ff {
  background-color: #00d2ff;
}

.bg-00bde6 {
  background-color: #00bde6;
}

.bg-00b9e1 {
  background-color: #00b9e1;
}

.bg-3385FF {
  background-color: #3385ff;
}

.bg-3696FC {
  background-color: #3696fc;
}

.bg-6068d7 {
  background-color: #6068d7;
}

.bg-3840b0 {
  background-color: #3840b0;
}

.bg-00d970 {
  background-color: #00d970;
}

.bg-00e491 {
  background-color: #00e491;
}

.bg-07bf7c {
  background-color: #07bf7c;
}

.bg-60C567 {
  background-color: #60c567;
}

.bg-baf2f0 {
  background-color: #baf2f0;
}

.bg-97e6e3 {
  background-color: #97e6e3;
}

.bg-73bcb9 {
  background-color: #73bcb9;
}

.bg-b1eeeb {
  background-color: #b1eeeb;
}

.bg-FF5733 {
  background-color: #ff5733;
}

.bg-DF3D1B {
  background-color: #df3d1b;
}

.bg-00B7C2 {
  background-color: #00b7c2;
}

.bg-128494 {
  background-color: #128494;
}

.bg-D95A40 {
  background-color: #d95a40;
}

.bg-F54D38 {
  background-color: #f54d38;
}

.bg-F54D38 {
  background-color: #f54d38;
}

.bg-E9E7AC {
  background-color: #e9e7ac;
}

.bg-f4f4f4 {
  background-color: #f4f4f4;
}

.bg-fafafa {
  background-color: #fafafa;
}

.bg-BFCBD9 {
  background-color: #bfcbd9;
}
.bg-000000 {
  background-color: #000000;
}
.bg-1890ff {
  background-color: #1890ff;
}

.fg-5b6b92 {
  color: #5b6b92;
}

.fg-A0A0A0 {
  color: #a0a0a0;
}

.fg-DB6951 {
  color: #db6951;
}

.fg-d75931 {
  color: #d75931;
}

.fg-ff4949 {
  color: #ff4949;
}

.fg-666666 {
  color: #666666;
}

.fg-ffd800 {
  color: #ffd800;
}

.fg-ffff00 {
  color: #ffff00;
}

.fg-97e6e3 {
  color: #97e6e3;
}

.fg-73bcb9 {
  color: #73bcb9;
}

.fg-fafafa {
  color: #fafafa;
}

.fg-ffffff {
  color: #ffffff;
}

.fg-07bf7c {
  color: #07bf7c;
}

.fg-07C160 {
  color: #07C160;
}

.fg-409EFF {
  color: #409eff;
}

.fg-353643 {
  color: #353643;
}

.fg-3840b0 {
  color: #3840b0;
}

.fg-ff5f00 {
  color: #ff5f00;
}

.fg-f69c00 {
  color: #f69c00;
}

.fg-A2A2A2 {
  color: #a2a2a2;
}

.fg-C9C9C9 {
  color: #C9C9C9;
}

.fg-B8B8B8 {
  color: #b8b8b8;
}

.fg-00B7C2 {
  color: #00b7c2;
}

.fg-128494 {
  color: #128494;
}

.fg-DF3D1B {
  color: #df3d1b;
}

.fg-50595C {
  color: #50595c;
}

.fg-9A9A9A {
  color: #9A9A9A;
}

.fg-603e2a {
  color: #603e2a;
}

.fg-F54D38 {
  color: #f54d38;
}

.fg-FFCD97 {
  color: #ffcd97;
}

.fg-E9E7AC {
  color: #e9e7ac;
}

.fg-FBC6A2 {
  color: #fbc6a2;
}

.fg-6A3B2E {
  color: #6a3b2e;
}

.fg-672612 {
  color: #672612;
}

.hover07c160:hover {
  color: #07c160;
}
/*border*/

.border-none {
  border: none;
}

.border1-DCDCDC {
  border: 1px solid #dcdcdc;
}

.border1-e1e1e1 {
  border: 1px solid #e1e1e1;
}

.border1-b6b6b6 {
  border: 1px solid #b6b6b6;
}

.border2-e1e1e1 {
  border: 2px solid #e1e1e1;
}

.border1-E4E8EB {
  border: 1px solid #E4E8EB;
}

.border1-d9d9d9 {
  border: 1px dashed #d9d9d9;
}

.bt1-DCDCDC {
  border-top: 1px solid #dcdcdc;
}

.border-radius5 {
  border-radius: 5px;
}
.border-shadow5 {
  box-shadow: #50595c;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.bb1-gray {
  border-bottom: 1px solid rgb(143, 143, 143);
}

.bb2-gray {
  border-bottom: 2px solid rgb(143, 143, 143);
}

.bb1-F54D38 {
  border-bottom: 1px solid #f54d38;
}

/*text decoration*/

.text-none {
  text-decoration: none;
}

.text-blink {
  text-decoration: blink;
}

.text-underline {
  text-decoration: underline;
}

.text-line-through {
  text-decoration: line-through;
}

.text-overline {
  text-decoration: overline;
}

/*text align*/

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* vertical-align */
.vertical-middle {
  vertical-align: middle;
}

/*display*/

.dis-inline {
  display: inline;
}

.dis-inblock {
  display: inline-block;
}

.dis-block {
  display: block;
}

.dis-none {
  display: none;
}

.dis-table-cell {
  display: table-cell;
}

.dis-inline-table {
  display: inline-table;
}

.dis-flex {
  display: -webkit-flex;
  display: flex;
}

.dis-flex-column {
  display: flex;
  flex-direction: column;
}
.dis-flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.dis-flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
}
.dis-flex-end-right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row;
}
.dis-flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}
.dis-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.dis-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.dis-flex-left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-end;
}

.dis-flex-right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row;
  align-items: flex-end;
}
.dis-flex-right-nowrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row;
  align-items: flex-end;
  white-space: nowrap; //不换行
}
.dis-flex-center-nowrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  white-space: nowrap; //不换行
}

.flex-inline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.div-center
{
  display: flex;
  display: -webkit-flex;
  align-items:center;
  justify-content:center;
}

/*nowrap*/

.nowrap {
  white-space: nowrap;
}

/*float*/

.fl {
  float: left;
}

.fr {
  float: right;
}

/*clear float*/

.clear-both {
  clear: both;
}

/*width*/

.width90p {
  max-width: 90%;
}

.width1 {
  width: 1px;
}

.width2 {
  width: 2px;
}

.width3 {
  width: 3px;
}

.width4 {
  width: 4px;
}

.width5 {
  width: 5px;
}

.width6 {
  width: 6px;
}

.width7 {
  width: 7px;
}

.width8 {
  width: 8px;
}

.width9 {
  width: 9px;
}

.width10 {
  width: 10px;
}

.width16 {
  width: 16px;
}

.width18 {
  width: 18px;
}

.width20 {
  width: 20px;
}

.width23 {
  width: 23px;
}

.width25 {
  width: 25px;
}

.width28 {
  width: 28px;
}

.width30 {
  width: 30px;
}

.width35 {
  width: 35px;
}

.width36 {
  width: 36px;
}

.width40 {
  width: 40px;
}

.width45 {
  width: 45px;
}

.width46 {
  width: 46px;
}

.width50 {
  width: 50px;
}

.width55 {
  width: 55px;
}

.width60 {
  width: 60px;
}

.width66 {
  width: 66px;
}

.width70 {
  width: 70px;
}

.width75 {
  width: 75px;
}

.width80 {
  width: 80px;
}

.width85 {
  width: 85px;
}

.width90 {
  width: 90px;
}

.width92 {
  width: 92px;
}

.width93 {
  width: 93px;
}

.width96 {
  width: 96px;
}

.width100 {
  width: 100px;
}

.width110 {
  width: 110px;
}

.width120 {
  width: 120px;
}

.width123 {
  width: 123px;
}

.width130 {
  width: 130px;
}

.width140 {
  width: 140px;
}

.width150 {
  width: 150px;
}

.width160 {
  width: 160px;
}

.width170 {
  width: 170px;
}

.width178 {
  width: 178px;
}

.width180 {
  width: 180px;
}

.width190 {
  width: 190px;
}

.width200 {
  width: 200px;
}

.width210 {
  width: 210px;
}

.width213 {
  width: 213px;
}

.width215 {
  width: 215px;
}

.width216 {
  width: 216px;
}

.width218 {
  width: 218px;
}

.width220 {
  width: 220px;
}

.width225 {
  width: 225px;
}

.width227 {
  width: 227px;
}

.width230 {
  width: 230px;
}

.width240 {
  width: 240px;
}

.width250 {
  width: 250px;
}

.width260 {
  width: 260px;
}

.width270 {
  width: 270px;
}

.width280 {
  width: 280px;
}

.width290 {
  width: 290px;
}

.width300 {
  width: 300px;
}

.width312 {
  width: 312px;
}

.width320 {
  width: 320px;
}

.width330 {
  width: 330px;
}

.width340 {
  width: 340px;
}

.width350 {
  width: 350px;
}

.width360 {
  width: 360px;
}

.width380 {
  width: 380px;
}

.width400 {
  width: 400px;
}

.width420 {
  width: 420px;
}

.width460 {
  width: 460px;
}

.width500 {
  width: 500px;
}

.width520 {
  width: 520px;
}

.width560 {
  width: 560px;
}

.width600 {
  width: 600px;
}

.width640 {
  width: 640px;
}

.width630 {
  width: 630px;
}

.width660 {
  width: 660px;
}

.width760 {
  width: 760px;
}

.width800 {
  width: 800px;
}

.width820 {
  width: 820px;
}

.width860 {
  width: 860px;
}

.width900 {
  width: 900px;
}

.width960 {
  width: 960px;
}

.width5p {
  width: 5%;
}

.width10p {
  width: 10%;
}

.width15p {
  width: 15%;
}

.width18p {
  width: 18%;
}

.width20p {
  width: 20%;
}

.width24p {
  width: 24%;
}

.width25p {
  width: 25%;
}

.width30p {
  width: 30%;
}

.width35p {
  width: 35%;
}

.width40p {
  width: 40%;
}

.width45p {
  width: 45%;
}

.width50p {
  width: 50%;
}

.width55p {
  width: 55%;
}

.width60p {
  width: 60%;
}

.width65p {
  width: 65%;
}

.width70p {
  width: 70%;
}

.width75p {
  width: 75%;
}

.width80p {
  width: 80%;
}

.width85p {
  width: 85%;
}

.width86p {
  width: 86%;
}

.width90p {
  width: 90%;
}

.width95p {
  width: 95%;
}

.width96p {
  width: 96%;
}

.width98p {
  width: 98%;
}

.width99p {
  width: 99%;
}

.width100p {
  width: 100%;
}

.mwidth80 {
  max-width: 80px;
}

.mwidth90 {
  max-width: 90px;
}

.mwidth100 {
  max-width: 100px;
}

.mwidth110 {
  max-width: 110px;
}

.mwidth130 {
  max-width: 130px;
}

.mwidth140 {
  max-width: 140px;
}

.mwidth163 {
  max-width: 163px;
}

.mwidth178 {
  max-width: 178px;
}

.mwidth185 {
  max-width: 185px;
}

.mwidth220 {
  max-width: 220px;
}

.mwidth300 {
  max-width: 300px;
}

.mwidth400 {
  max-width: 400px;
}

.mwidth590 {
  max-width: 590px;
}

.mwidth740 {
  max-width: 740px;
}

.mwidth1400 {
  max-width: 1400px;
}

.minwidth250 {
  min-width: 250px;
}

.minwidth740 {
  min-width: 740px;
}

/*height*/

.height1 {
  height: 1px;
}

.height2 {
  height: 2px;
}

.height3 {
  height: 3px;
}

.height4 {
  height: 4px;
}

.height5 {
  height: 5px;
}

.height6 {
  height: 6px;
}

.height7 {
  height: 7px;
}

.height8 {
  height: 8px;
}

.height9 {
  height: 9px;
}

.height10 {
  height: 10px;
}

.height16 {
  height: 16px;
}

.height18 {
  height: 18px;
}

.height20 {
  height: 20px;
}

.height22 {
  height: 22px;
}

.height25 {
  height: 25px;
}

.height30 {
  height: 30px;
}

.height35 {
  height: 35px;
}

.height36 {
  height: 36px;
}

.height40 {
  height: 40px;
}

.height45 {
  height: 45px;
}

.height46 {
  height: 46px;
}

.height50 {
  height: 50px;
}

.height55 {
  height: 55px;
}

.height60 {
  height: 60px;
}

.height65 {
  height: 65px;
}

.height70 {
  height: 70px;
}

.height75 {
  height: 75px;
}

.height80 {
  height: 80px;
}

.height85 {
  height: 85px;
}

.height90 {
  height: 90px;
}

.height100 {
  height: 100px;
}

.height110 {
  height: 110px;
}

.height120 {
  height: 120px;
}

.height130 {
  height: 130px;
}

.height140 {
  height: 140px;
}

.height150 {
  height: 150px;
}

.height160 {
  height: 160px;
}

.height170 {
  height: 170px;
}

.height180 {
  height: 180px;
}

.height200 {
  height: 200px;
}

.height220 {
  height: 220px;
}

.height230 {
  height: 230px;
}

.height240 {
  height: 240px;
}

.height250 {
  height: 250px;
}

.height280 {
  height: 280px;
}

.height290 {
  height: 290px;
}

.height300 {
  height: 300px;
}

.height310 {
  height: 310px;
}

.height320 {
  height: 320px;
}

.height330 {
  height: 330px;
}

.height340 {
  height: 340px;
}

.height350 {
  height: 350px;
}

.height360 {
  height: 360px;
}

.height370 {
  height: 370px;
}

.height380 {
  height: 380px;
}

.height390 {
  height: 390px;
}

.height400 {
  height: 400px;
}

.height420 {
  height: 420px;
}

.height430 {
  height: 430px;
}

.height460 {
  height: 460px;
}

.height480 {
  height: 480px;
}

.height500 {
  height: 500px;
}

.height520 {
  height: 520px;
}

.height560 {
  height: 560px;
}

.height700 {
  height: 700px;
}

.height800 {
  height: 800px;
}

.height880 {
  height: 880px;
}

.height880 {
  height: 880px;
}

.height900 {
  height: 900px;
}

.height950 {
  height: 950px;
}

.height980 {
  height: 980px;
}

.height1000 {
  height: 1000px;
}

.height1050 {
  height: 1050px;
}

.height5p {
  height: 5%;
}

.height10p {
  height: 10%;
}

.height15p {
  height: 15%;
}

.height20p {
  height: 20%;
}

.height25p {
  height: 25%;
}

.height30p {
  height: 30%;
}

.height35p {
  height: 35%;
}

.height40p {
  height: 40%;
}

.height45p {
  height: 45%;
}

.height50p {
  height: 50%;
}

.height55p {
  height: 55%;
}

.height60p {
  height: 60%;
}

.height65p {
  height: 65%;
}

.height70p {
  height: 70%;
}

.height80p {
  height: 80%;
}

.height90p {
  height: 90%;
}

.height100p {
  height: 100%;
}

.mheight160 {
  max-height: 160px;
}

/*line-height*/

.line-height15 {
  line-height: 15px;
}

.line-height18 {
  line-height: 18px;
}

.line-height20 {
  line-height: 20px;
}

.line-height25 {
  line-height: 25px;
}

.line-height30 {
  line-height: 30px;
}

.line-height36 {
  line-height: 36px;
}

.line-height40 {
  line-height: 40px;
}

.line-height42 {
  line-height: 42px;
}

.line-height45 {
  line-height: 45px;
}

.line-height50 {
  line-height: 50px;
}

.line-height60 {
  line-height: 60px;
}

.line-height70 {
  line-height: 70px;
}

.line-height80 {
  line-height: 80px;
}

.line-height90 {
  line-height: 90px;
}

.line-height100 {
  line-height: 100px;
}

.line-height140 {
  line-height: 140px;
}

.line-height150 {
  line-height: 150px;
}

/*position*/

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.pos-fix {
  position: fixed;
}

/*top*/

.top-50 {
  top: -50px;
}

.top-40 {
  top: -40px;
}

.top-20 {
  top: -20px;
}

.top-10 {
  top: -10px;
}

.top-6 {
  top: -6px;
}

.top-4 {
  top: -4px;
}

.top0 {
  top: 0;
}

.top1 {
  top: 1px;
}

.top2 {
  top: 2px;
}

.top3 {
  top: 3px;
}

.top4 {
  top: 4px;
}

.top5 {
  top: 5px;
}

.top6 {
  top: 6px;
}

.top7 {
  top: 7px;
}

.top8 {
  top: 8px;
}

.top9 {
  top: 9px;
}

.top10 {
  top: 10px;
}

.top12 {
  top: 12px;
}

.top13 {
  top: 13px;
}

.top14 {
  top: 14px;
}

.top15 {
  top: 15px;
}

.top16 {
  top: 16px;
}

.top17 {
  top: 17px;
}

.top18 {
  top: 18px;
}

.top20 {
  top: 20px;
}

.top22 {
  top: 22px;
}

.top25 {
  top: 25px;
}

.top27 {
  top: 27px;
}

.top30 {
  top: 30px;
}

.top32 {
  top: 32px;
}

.top33 {
  top: 33px;
}

.top35 {
  top: 35px;
}

.top38 {
  top: 38px;
}

.top40 {
  top: 40px;
}

.top42 {
  top: 42px;
}

.top43 {
  top: 43px;
}

.top45 {
  top: 45px;
}

.top48 {
  top: 48px;
}

.top50 {
  top: 50px;
}

.top52 {
  top: 52px;
}

.top55 {
  top: 55px;
}

.top57 {
  top: 57px;
}

.top58 {
  top: 58px;
}

.top60 {
  top: 60px;
}

.top70 {
  top: 70px;
}

.top80 {
  top: 80px;
}

.top90 {
  top: 90px;
}

.top100 {
  top: 100px;
}

.top110 {
  top: 110px;
}

.top120 {
  top: 120px;
}

.top125 {
  top: 125px;
}

.top130 {
  top: 130px;
}

.top140 {
  top: 140px;
}

.top143 {
  top: 143px;
}

.top145 {
  top: 145px;
}

.top150 {
  top: 150px;
}

.top160 {
  top: 160px;
}

.top170 {
  top: 170px;
}

.top180 {
  top: 180px;
}

.top210 {
  top: 210px;
}

.top220 {
  top: 220px;
}

.top260 {
  top: 260px;
}

.top300 {
  top: 300px;
}

.top400 {
  top: 400px;
}

.top560 {
  top: 560px;
}

.top600 {
  top: 600px;
}

.top700 {
  top: 700px;
}

.top2p {
  top: 2%;
}

.top5p {
  top: 5%;
}

.top10p {
  top: 10%;
}

.top20p {
  top: 20%;
}

.top25p {
  top: 25%;
}

.top30p {
  top: 30%;
}

.top35p {
  top: 35%;
}

.top40p {
  top: 40%;
}

.top45p {
  top: 45%;
}

.top50p {
  top: 50%;
}

.top55p {
  top: 55%;
}

.top60p {
  top: 60%;
}

.top70p {
  top: 70%;
}

.top80p {
  top: 80%;
}

.top90p {
  top: 90%;
}

/*left*/

.left-1 {
  left: -1px;
}

.left0 {
  left: 0px;
}

.left4 {
  left: 4px;
}

.left6 {
  left: 6px;
}

.left10 {
  left: 10px;
}

.left15 {
  left: 15px;
}

.left20 {
  left: 20px;
}

.left25 {
  left: 25px;
}

.left30 {
  left: 30px;
}

.left40 {
  left: 40px;
}

.left50 {
  left: 50px;
}

.left60 {
  left: 60px;
}

.left65 {
  left: 65px;
}

.left70 {
  left: 70px;
}

.left72 {
  left: 72px;
}

.left75 {
  left: 75px;
}

.left80 {
  left: 80px;
}

.left85 {
  left: 85px;
}

.left90 {
  left: 90px;
}

.left95 {
  left: 95px;
}

.left100 {
  left: 100px;
}

.left105 {
  left: 105px;
}

.left110 {
  left: 110px;
}

.left115 {
  left: 115px;
}

.left120 {
  left: 120px;
}

.left130 {
  left: 130px;
}

.left135 {
  left: 135px;
}

.left140 {
  left: 140px;
}

.left145 {
  left: 145px;
}

.left150 {
  left: 150px;
}

.left150 {
  left: 150px;
}

.left160 {
  left: 160px;
}

.left162 {
  left: 162px;
}

.left180 {
  left: 180px;
}

.left200 {
  left: 200px;
}

.left210 {
  left: 210px;
}

.left215 {
  left: 215px;
}

.left220 {
  left: 220px;
}

.left230 {
  left: 230px;
}

.left240 {
  left: 240px;
}

.left245 {
  left: 245px;
}

.left250 {
  left: 250px;
}

.left260 {
  left: 260px;
}

.left265 {
  left: 265px;
}

.left280 {
  left: 280px;
}

.left400 {
  left: 400px;
}

.left5p {
  left: 5%;
}

.left10p {
  left: 10%;
}

.left13p {
  left: 13%;
}

.left15p {
  left: 15%;
}

.left18p {
  left: 18%;
}

.left20p {
  left: 20%;
}

.left22p {
  left: 22%;
}

.left24p {
  left: 24%;
}

.left25p {
  left: 25%;
}

.left26p {
  left: 26%;
}

.left28p {
  left: 28%;
}

.left30p {
  left: 30%;
}

.left32p {
  left: 32%;
}

.left35p {
  left: 35%;
}

.left40p {
  left: 40%;
}

.left50p {
  left: 50%;
}

.left82p {
  left: 82%;
}

.left85p {
  left: 85%;
}

/*right*/

.right-6 {
  right: -6px;
}

.right-4 {
  right: -4px;
}

.right0 {
  right: 0;
}

.right4 {
  right: 4px;
}

.right5 {
  right: 5px;
}

.right6 {
  right: 6px;
}

.right8 {
  right: 8px;
}

.right10 {
  right: 10px;
}

.right12 {
  right: 12px;
}

.right13 {
  right: 13px;
}

.right14 {
  right: 14px;
}

.right15 {
  right: 15px;
}

.right20 {
  right: 20px;
}

.right30 {
  right: 30px;
}

.right35 {
  right: 35px;
}

.right40 {
  right: 40px;
}

.right50 {
  right: 50px;
}

.right60 {
  right: 60px;
}

.right70 {
  right: 70px;
}

.right80 {
  right: 80px;
}

.right85 {
  right: 85px;
}

.right90 {
  right: 90px;
}

.right100 {
  right: 100px;
}

.right105 {
  right: 105px;
}

.right110 {
  right: 110px;
}

.right115 {
  right: 115px;
}

.right120 {
  right: 120px;
}

.right165 {
  right: 165px;
}

.right170 {
  right: 170px;
}

.right180 {
  right: 180px;
}

.right200 {
  right: 200px;
}

.right210 {
  right: 210px;
}

.right240 {
  right: 240px;
}

.right242 {
  right: 242px;
}

.right244 {
  right: 244px;
}

.right246 {
  right: 246px;
}

.right250 {
  right: 250px;
}

.right300 {
  right: 300px;
}

.right400 {
  right: 400px;
}

.right2p {
  right: 2%;
}

.right5p {
  right: 5%;
}

.right7p {
  right: 7%;
}

.right10p {
  right: 10%;
}

.right12p {
  right: 12%;
}

.right15p {
  right: 15%;
}

.right17p {
  right: 17%;
}

.right20p {
  right: 20%;
}

.right25p {
  right: 25%;
}

.right27p {
  right: 27%;
}

.right29p {
  right: 29%;
}

.right30p {
  right: 30%;
}

.right35p {
  right: 35%;
}

/*bottom*/

.bottom-140 {
  bottom: -140px;
}

.bottom-120 {
  bottom: -120px;
}

.bottom-80 {
  bottom: -80px;
}

.bottom-70 {
  bottom: -70px;
}

.bottom-60 {
  bottom: -60px;
}

.bottom-55 {
  bottom: -55px;
}

.bottom-50 {
  bottom: -50px;
}

.bottom-40 {
  bottom: -40px;
}

.bottom0 {
  bottom: 0;
}

.bottom2 {
  bottom: 2px;
}

.bottom3 {
  bottom: 3px;
}

.bottom4 {
  bottom: 4px;
}

.bottom5 {
  bottom: 5px;
}

.bottom6 {
  bottom: 6px;
}

.bottom7 {
  bottom: 7px;
}

.bottom8 {
  bottom: 8px;
}

.bottom10 {
  bottom: 10px;
}

.bottom13 {
  bottom: 13px;
}

.bottom15 {
  bottom: 15px;
}

.bottom16 {
  bottom: 16px;
}

.bottom17 {
  bottom: 17px;
}

.bottom18 {
  bottom: 18px;
}

.bottom20 {
  bottom: 20px;
}

.bottom22 {
  bottom: 22px;
}

.bottom24 {
  bottom: 24px;
}

.bottom25 {
  bottom: 25px;
}

.bottom27 {
  bottom: 27px;
}

.bottom30 {
  bottom: 30px;
}

.bottom33 {
  bottom: 33px;
}

.bottom35 {
  bottom: 35px;
}

.bottom40 {
  bottom: 40px;
}

.bottom45 {
  bottom: 45px;
}

.bottom48 {
  bottom: 48px;
}

.bottom50 {
  bottom: 50px;
}

.bottom55 {
  bottom: 55px;
}

.bottom57 {
  bottom: 57px;
}

.bottom58 {
  bottom: 58px;
}

.bottom60 {
  bottom: 60px;
}

.bottom65 {
  bottom: 65px;
}

.bottom70 {
  bottom: 70px;
}

.bottom80 {
  bottom: 80px;
}

.bottom89 {
  bottom: 89px;
}

.bottom90 {
  bottom: 90px;
}

.bottom100 {
  bottom: 100px;
}

.bottom105 {
  bottom: 105px;
}

.bottom110 {
  bottom: 110px;
}

.bottom114 {
  bottom: 114px;
}

.bottom116 {
  bottom: 116px;
}

.bottom120 {
  bottom: 120px;
}

.bottom130 {
  bottom: 130px;
}

.bottom140 {
  bottom: 140px;
}

.bottom150 {
  bottom: 150px;
}

.bottom160 {
  bottom: 160px;
}

.bottom170 {
  bottom: 170px;
}

.bottom180 {
  bottom: 180px;
}

.bottom200 {
  bottom: 200px;
}

.bottom240 {
  bottom: 240px;
}

.bottom280 {
  bottom: 280px;
}

.bottom300 {
  bottom: 300px;
}

.bottom360 {
  bottom: 360px;
}

.bottom380 {
  bottom: 380px;
}

.bottom400 {
  bottom: 400px;
}

.bottom440 {
  bottom: 440px;
}

.bottom2p {
  bottom: 2%;
}

.bottom10p {
  bottom: 10%;
}

.bottom20p {
  bottom: 20%;
}

.bottom30p {
  bottom: 30%;
}

.bottom40p {
  bottom: 40%;
}

.bottom50p {
  bottom: 50%;
}

.bottom60p {
  bottom: 60%;
}

.bottom65p {
  bottom: 65%;
}

.bottom68p {
  bottom: 68%;
}

.bottom70p {
  bottom: 70%;
}

/*padding*/

.padding0 {
  padding: 0;
}

.padding2 {
  padding: 2px;
}

.padding4 {
  padding: 4px;
}

.padding6 {
  padding: 6px;
}

.padding9 {
  padding: 9px;
}

.padding10 {
  padding: 10px;
}

.padding12 {
  padding: 12px;
}

.padding14 {
  padding: 14px;
}

.padding16 {
  padding: 16px;
}

.padding20 {
  padding: 20px;
}

.padding25 {
  padding: 25px;
}

.padding30 {
  padding: 30px;
}

.padding40 {
  padding: 40px;
}

/*padding-right*/

.pr0 {
  padding-right: 0px;
}

.pr2 {
  padding-right: 2px;
}

.pr4 {
  padding-right: 4px;
}

.pr5 {
  padding-right: 5px;
}

.pr6 {
  padding-right: 6px;
}

.pr8 {
  padding-right: 8px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr16 {
  padding-right: 16px;
}

.pr20 {
  padding-right: 20px;
}

.pr30 {
  padding-right: 30px;
}

.pr40 {
  padding-right: 40px;
}

.pr60 {
  padding-right: 60px;
}

.pr70 {
  padding-right: 70px;
}

.pr80 {
  padding-right: 80px;
}

.pr90 {
  padding-right: 90px;
}

.pr100 {
  padding-right: 100px;
}

/*padding-left*/

.pl0 {
  padding-left: 0px;
}

.pl2 {
  padding-left: 2px;
}

.pl4 {
  padding-left: 4px;
}

.pl5 {
  padding-left: 5px;
}

.pl6 {
  padding-left: 6px;
}

.pl8 {
  padding-left: 8px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl16 {
  padding-left: 16px;
}

.pl20 {
  padding-left: 20px;
}

.pl30 {
  padding-left: 30px;
}

.pl35 {
  padding-left: 35px;
}

.pl40 {
  padding-left: 40px;
}

.pl60 {
  padding-left: 60px;
}

.pl70 {
  padding-left: 70px;
}

.pl80 {
  padding-left: 80px;
}

.pl90 {
  padding-left: 90px;
}

.pl5p {
  padding-left: 5%;
}

.pl20p {
  padding-left: 20%;
}

/*padding-top*/

.pt0 {
  padding-top: 0;
}

.pt2 {
  padding-top: 2px;
}

.pt3 {
  padding-top: 3px;
}

.pt4 {
  padding-top: 4px;
}

.pt5 {
  padding-top: 5px;
}

.pt6 {
  padding-top: 6px;
}

.pt8 {
  padding-top: 8px;
}

.pt10 {
  padding-top: 10px;
}

.pt12 {
  padding-top: 12px;
}

.pt15 {
  padding-top: 15px;
}

.pt16 {
  padding-top: 16px;
}

.pt17 {
  padding-top: 17px;
}

.pt18 {
  padding-top: 18px;
}

.pt19 {
  padding-top: 19px;
}

.pt20 {
  padding-top: 20px;
}

.pt22 {
  padding-top: 22px;
}

.pt25 {
  padding-top: 25px;
}

.pt30 {
  padding-top: 30px;
}

.pt35 {
  padding-top: 35px;
}

.pt40 {
  padding-top: 40px;
}

.pt50 {
  padding-top: 50px;
}

.pt60 {
  padding-top: 60px;
}

.pt70 {
  padding-top: 70px;
}

.pt80 {
  padding-top: 80px;
}

.pt90 {
  padding-top: 90px;
}

.pt100 {
  padding-top: 100px;
}

.pt120 {
  padding-top: 120px;
}

.pt130 {
  padding-top: 130px;
}

.pt140 {
  padding-top: 140px;
}

.pt150 {
  padding-top: 150px;
}

.pt160 {
  padding-top: 160px;
}

.pt180 {
  padding-top: 180px;
}

.pt200 {
  padding-top: 200px;
}

/*padding-bottom*/

.pb0 {
  padding-bottom: 0;
}

.pb1 {
  padding-bottom: 1px;
}

.pb2 {
  padding-bottom: 2px;
}

.pb4 {
  padding-bottom: 4px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb6 {
  padding-bottom: 6px;
}

.pb7 {
  padding-bottom: 7px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb12 {
  padding-bottom: 12px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb16 {
  padding-bottom: 16px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb21 {
  padding-bottom: 21px;
}

.pb22 {
  padding-bottom: 22px;
}

.pb23 {
  padding-bottom: 23px;
}

.pb24 {
  padding-bottom: 24px;
}

.pb26 {
  padding-bottom: 26px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb42 {
  padding-bottom: 42px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb60 {
  padding-bottom: 60px;
}

.pb70 {
  padding-bottom: 70px;
}

.pb75 {
  padding-bottom: 75px;
}

.pb73 {
  padding-bottom: 73px;
}

.pb80 {
  padding-bottom: 80px;
}

.pb90 {
  padding-bottom: 90px;
}

.pb100 {
  padding-bottom: 100px;
}

.pb120 {
  padding-bottom: 120px;
}

.pb130 {
  padding-bottom: 130px;
}

.pb140 {
  padding-bottom: 140px;
}

.pb150 {
  padding-bottom: 150px;
}

.pb160 {
  padding-bottom: 160px;
}

/*margin*/

.margin-auto {
  margin: auto;
}

.margin0 {
  margin: 0px;
}

.margin2 {
  margin: 2px;
}

.margin4 {
  margin: 4px;
}

.margin6 {
  margin: 6px;
}

.margin10 {
  margin: 10px;
}

.margin12 {
  margin: 12px;
}

.margin14 {
  margin: 14px;
}

.margin15 {
  margin: 15px;
}

.margin16 {
  margin: 16px;
}

.margin18 {
  margin: 18px;
}

.margin20 {
  margin: 20px;
}

.margin22 {
  margin: 22px;
}

.margin23 {
  margin: 23px;
}

.margin24 {
  margin: 24px;
}

.margin25 {
  margin: 25px;
}

.margin26 {
  margin: 26px;
}

.margin30 {
  margin: 30px;
}

.margin40 {
  margin: 40px;
}

/*margin-top*/

.mt-80 {
  margin-top: -80px;
}

.mt-60 {
  margin-top: -60px;
}

.mt-30 {
  margin-top: -30px;
}

.mt0 {
  margin-top: 0;
}

.mt2 {
  margin-top: 2px;
}

.mt3 {
  margin-top: 3px;
}

.mt4 {
  margin-top: 4px;
}

.mt5 {
  margin-top: 5px;
}

.mt6 {
  margin-top: 6px;
}

.mt8 {
  margin-top: 8px;
}

.mt10 {
  margin-top: 10px;
}

.mt12 {
  margin-top: 12px;
}

.mt15 {
  margin-top: 15px;
}

.mt16 {
  margin-top: 16px;
}

.mt18 {
  margin-top: 18px;
}

.mt20 {
  margin-top: 20px;
}

.mt24 {
  margin-top: 24px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt42 {
  margin-top: 42px;
}

.mt48 {
  margin-top: 48px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt65 {
  margin-top: 65px;
}

.mt70 {
  margin-top: 70px;
}

.mt75 {
  margin-top: 75px;
}

.mt80 {
  margin-top: 80px;
}

.mt84 {
  margin-top: 84px;
}

.mt90 {
  margin-top: 90px;
}

.mt95 {
  margin-top: 95px;
}

.mt100 {
  margin-top: 100px;
}

.mt110 {
  margin-top: 110px;
}

.mt120 {
  margin-top: 120px;
}

.mt130 {
  margin-top: 130px;
}

.mt140 {
  margin-top: 140px;
}

.mt160 {
  margin-top: 160px;
}

.mt180 {
  margin-top: 180px;
}

.mt190 {
  margin-top: 190px;
}

.mt200 {
  margin-top: 200px;
}

.mt210 {
  margin-top: 210px;
}

.mt220 {
  margin-top: 220px;
}

.mt230 {
  margin-top: 230px;
}

.mt240 {
  margin-top: 240px;
}

.mt300 {
  margin-top: 300px;
}

.mt360 {
  margin-top: 360px;
}

.mt560 {
  margin-top: 560px;
}

.mt10p {
  margin-top: 10%;
}

.mt5p {
  margin-top: 5%;
}

.mt10p {
  margin-top: 10%;
}

.mt15p {
  margin-top: 15%;
}

.mt20p {
  margin-top: 20%;
}

.mt25p {
  margin-top: 25%;
}

.mt30p {
  margin-top: 30%;
}

.mt40p {
  margin-top: 40%;
}

.mt50p {
  margin-top: 50%;
}

.mt60p {
  margin-top: 60%;
}

.mt100p {
  margin-top: 100%;
}

.mt110p {
  margin-top: 110%;
}

/*margin-right*/

.mr-30 {
  margin-right: -30px;
}

.mr-20 {
  margin-right: -20px;
}

.mr-15 {
  margin-right: -15px;
}

.mr-10 {
  margin-right: -10px;
}

.mr2 {
  margin-right: 2px;
}

.mr4 {
  margin-right: 4px;
}

.mr5 {
  margin-right: 5px;
}

.mr6 {
  margin-right: 6px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr16 {
  margin-right: 16px;
}

.mr18 {
  margin-right: 18px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mr30 {
  margin-right: 30px;
}

.mr35 {
  margin-right: 35px;
}

.mr40 {
  margin-right: 40px;
}

.mr50 {
  margin-right: 50px;
}

.mr60 {
  margin-right: 60px;
}

.mr65 {
  margin-right: 65px;
}

.mr70 {
  margin-right: 70px;
}

.mr75 {
  margin-right: 75px;
}

.mr80 {
  margin-right: 80px;
}

.mr90 {
  margin-right: 90px;
}

.mr100 {
  margin-right: 100px;
}

.mr110 {
  margin-right: 110px;
}

.mr120 {
  margin-right: 120px;
}

.mr130 {
  margin-right: 130px;
}

.mr140 {
  margin-right: 140px;
}

.mr150 {
  margin-right: 150px;
}

.mr160 {
  margin-right: 160px;
}

.mr170 {
  margin-right: 170px;
}

.mr180 {
  margin-right: 180px;
}

.mr200 {
  margin-right: 200px;
}

.mr220 {
  margin-right: 220px;
}

.mr280 {
  margin-right: 280px;
}

.mr300 {
  margin-right: 300px;
}

.mr320 {
  margin-right: 320px;
}

.mr360 {
  margin-right: 360px;
}

/*margin-left*/

.ml-30 {
  margin-left: -30px;
}

.ml-20 {
  margin-left: -20px;
}

.ml-10 {
  margin-left: -10px;
}

.ml1 {
  margin-left: 1px;
}

.ml2 {
  margin-left: 2px;
}

.ml4 {
  margin-left: 4px;
}

.ml5 {
  margin-left: 5px;
}

.ml6 {
  margin-left: 6px;
}

.ml8 {
  margin-left: 8px;
}

.ml9 {
  margin-left: 9px;
}

.ml10 {
  margin-left: 10px;
}

.ml12 {
  margin-left: 12px;
}

.ml13 {
  margin-left: 13px;
}

.ml15 {
  margin-left: 15px;
}

.ml16 {
  margin-left: 16px;
}

.ml18 {
  margin-left: 18px;
}

.ml20 {
  margin-left: 20px;
}

.ml23 {
  margin-left: 23px;
}

.ml25 {
  margin-left: 25px;
}

.ml28 {
  margin-left: 28px;
}

.ml30 {
  margin-left: 30px;
}

.ml32 {
  margin-left: 32px;
}

.ml35 {
  margin-left: 35px;
}

.ml40 {
  margin-left: 40px;
}

.ml50 {
  margin-left: 50px;
}

.ml60 {
  margin-left: 60px;
}

.ml65 {
  margin-left: 65px;
}

.ml66 {
  margin-left: 66px;
}

.ml70 {
  margin-left: 70px;
}

.ml75 {
  margin-left: 75px;
}

.ml80 {
  margin-left: 80px;
}

.ml96 {
  margin-left: 96px;
}

.ml90 {
  margin-left: 90px;
}

.ml95 {
  margin-left: 95px;
}

.ml100 {
  margin-left: 100px;
}

.ml110 {
  margin-left: 110px;
}

.ml120 {
  margin-left: 120px;
}

.ml170 {
  margin-left: 170px;
}

.ml180 {
  margin-left: 180px;
}

.ml190 {
  margin-left: 190px;
}

.ml200 {
  margin-left: 200px;
}

.ml210 {
  margin-left: 210px;
}

.ml220 {
  margin-left: 220px;
}

.ml225 {
  margin-left: 225px;
}

.ml230 {
  margin-left: 230px;
}

.ml240 {
  margin-left: 240px;
}

.ml250 {
  margin-left: 250px;
}

.ml260 {
  margin-left: 260px;
}

.ml300 {
  margin-left: 300px;
}

.ml460 {
  margin-left: 460px;
}

.ml2p {
  margin-left: 2%;
}

.ml5p {
  margin-left: 5%;
}

.ml6p {
  margin-left: 6%;
}

.ml7p {
  margin-left: 7%;
}

.ml8p {
  margin-left: 8%;
}

.ml10p {
  margin-left: 10%;
}

.ml15p {
  margin-left: 15%;
}

.ml20p {
  margin-left: 20%;
}

.ml35p {
  margin-left: 35%;
}

.ml40p {
  margin-left: 40%;
}

/*margin-bottom*/

.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: 1px;
}

.mb2 {
  margin-bottom: 2px;
}

.mb4 {
  margin-bottom: 4px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb100 {
  margin-bottom: 100px;
}

.mb120 {
  margin-bottom: 120px;
}

.mb140 {
  margin-bottom: 140px;
}

.mb150 {
  margin-bottom: 150px;
}

.mb160 {
  margin-bottom: 160px;
}

.mb5p {
  margin-bottom: 5%;
}

/*radiu*/

.radius0 {
  border-radius: 0;
}

.radius1 {
  border-radius: 1px;
}

.radius2 {
  border-radius: 2px;
}

.radius3 {
  border-radius: 3px;
}

.radius4 {
  border-radius: 4px;
}

.radius5 {
  border-radius: 5px;
}

.radius6 {
  border-radius: 6px;
}

.radius10 {
  border-radius: 10px;
}

.radius14 {
  border-radius: 14px;
}

.radius20 {
  border-radius: 20px;
}

.radius25 {
  border-radius: 25px;
}

.radius30 {
  border-radius: 30px;
}

.radius35 {
  border-radius: 35px;
}

.radius40 {
  border-radius: 40px;
}

.radius45 {
  border-radius: 45px;
}

.radius50 {
  border-radius: 50px;
}

.radius55 {
  border-radius: 55px;
}

.radius60 {
  border-radius: 60px;
}

.radius50p {
  border-radius: 50%;
}

.bg-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.2;
  z-index: 1000;
}

.bg-modal-shadow {
  position: fixed;
  top: 62px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  z-index: 1050;
}

.bg-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  z-index: 1050;
}

.bg-rgba00005 {
  background: rgba(0, 0, 0, 0.5);
}

.zindex1 {
  z-index: 1;
}

.zindex10 {
  z-index: 10;
}

.zindex11 {
  z-index: 11;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1051;
}

.show-modal {
  animation: show 0.2s;
  -webkit-animation: show 0.2s;
}

.cursor-pointer {
  cursor: pointer;
}

.el-table--border th {
  border-right: 1px solid #dfdfdf !important;
}

.el-table th {
  text-align: center !important;
}

.el-table--border td {
  border-right: 1px solid #dfdfdf !important;
}

.overflow-y1000 {
  overflow-y: auto;
  height: 1000px;
}

.overflow-ymh1000 {
  overflow-y: auto;
  max-height: 1000px;
}

.overflow-ymh600 {
  overflow-y: auto;
  max-height: 600px;
}

.overflow-ymh500 {
  overflow-y: auto;
  max-height: 500px;
}

.border1-d9d9d9 {
  border: 1px dashed #d9d9d9;
}
